In [1]:
import pandas as pd
import os
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
import numpy as np

# 1- Data Preparation (cleaning and engineering)

# 1.1. Dublin Bikes

First we will loop through the files in order to concatenate the 12 complementary files into a single dataframe for the whole year of 2023.
Dataset available at: 

Dataset available at: https://data.smartdublin.ie/dataset/dublinbikes-api


Font: https://medium.com/@nawazmohtashim/method-to-merge-csv-files-in-python-8b0f16550e0b

In [5]:
# Listing the files and sorting them by name in the dublin_data folder so they do not have to be typed one by one. Adapted from: https://stevenhough.medium.com/how-to-easily-list-all-files-in-a-folder-using-python-3-ee06004c6316

folder_path = '/home/user/Documents/GitHub/dublin_data'

file_list = sorted([f for f in os.listdir(folder_path) if os.path.isfile(os.path.join(folder_path, f))])

print(file_list)

['.DS_Store', '._.DS_Store', '._dublinbike-historical-data-2022-01.csv', '._dublinbike-historical-data-2022-02.csv', '._dublinbike-historical-data-2022-03.csv', '._dublinbike-historical-data-2022-04.csv', '._dublinbike-historical-data-2022-05.csv', '._dublinbike-historical-data-2022-06.csv', '._dublinbike-historical-data-2022-07.csv', '._dublinbike-historical-data-2022-08.csv', '._dublinbike-historical-data-2022-09.csv', '._dublinbike-historical-data-2022-10.csv', '._dublinbike-historical-data-2022-11.csv', '._dublinbike-historical-data-2022-12.csv', 'Dublinbike_historical_data_2022.csv', 'dublinbike-historical-data-2022-01.csv', 'dublinbike-historical-data-2022-02.csv', 'dublinbike-historical-data-2022-03.csv', 'dublinbike-historical-data-2022-04.csv', 'dublinbike-historical-data-2022-05.csv', 'dublinbike-historical-data-2022-06.csv', 'dublinbike-historical-data-2022-07.csv', 'dublinbike-historical-data-2022-08.csv', 'dublinbike-historical-data-2022-09.csv', 'dublinbike-historical-data-2022-10.csv', 'dublinbike-historical-data-2022-11.csv', 'dublinbike-historical-data-2022-12.csv']

In [6]:
# Creating a list with the files.

months_dfs = ['/home/user/Documents/GitHub/dublin_data/dublinbike-historical-data-2022-01.csv', '/home/user/Documents/GitHub/dublin_data/dublinbike-historical-data-2022-02.csv', '/home/user/Documents/GitHub/dublin_data/dublinbike-historical-data-2022-03.csv', 
              '/home/user/Documents/GitHub/dublin_data/dublinbike-historical-data-2022-04.csv', '/home/user/Documents/GitHub/dublin_data/dublinbike-historical-data-2022-05.csv', '/home/user/Documents/GitHub/dublin_data/dublinbike-historical-data-2022-06.csv',
              '/home/user/Documents/GitHub/dublin_data/dublinbike-historical-data-2022-07.csv', '/home/user/Documents/GitHub/dublin_data/dublinbike-historical-data-2022-08.csv', '/home/user/Documents/GitHub/dublin_data/dublinbike-historical-data-2022-09.csv',
              '/home/user/Documents/GitHub/dublin_data/dublinbike-historical-data-2022-10.csv', '/home/user/Documents/GitHub/dublin_data/dublinbike-historical-data-2022-11.csv', '/home/user/Documents/GitHub/dublin_data/dublinbike-historical-data-2022-12.csv']

In [7]:
df_dublin = pd.DataFrame()

# For loop for merging data
for monthsdfs in months_dfs:
    df = pd.read_csv(monthsdfs)
    df_dublin = pd.concat([df_dublin, df], ignore_index=True)

# Saving a new .csv file with the merged data
df_dublin.to_csv('Dublinbike_historical_data_2022.csv', index=False)

In [8]:
df_dublin = pd.read_csv('/home/user/Documents/GitHub/dublin_data/Dublinbike_historical_data_2022.csv')

In [9]:
df_dublin.tail(5)

,STATION ID,TIME,LAST UPDATED,NAME,BIKE_STANDS,AVAILABLE_BIKE_STANDS,AVAILABLE_BIKES,STATUS,ADDRESS,LATITUDE,LONGITUDE
1950284,113,2022-12-31 23:30:02,2022-12-31 23:28:52,MERRION SQUARE SOUTH,40,28,12,OPEN,Merrion Square South,53.3386,-6.24861
1950285,114,2022-12-31 23:30:02,2022-12-31 23:22:06,WILTON TERRACE (PARK),40,34,6,OPEN,Wilton Terrace (Park),53.3337,-6.24834
1950286,115,2022-12-31 23:30:02,2022-12-31 23:29:17,KILLARNEY STREET,30,24,6,OPEN,Killarney Street,53.3548,-6.24758
1950287,116,2022-12-31 23:30:02,2022-12-31 23:26:30,BROADSTONE,30,28,2,OPEN,Broadstone,53.3547,-6.27231
1950288,117,2022-12-31 23:30:02,2022-12-31 23:24:36,HANOVER QUAY EAST,40,37,3,OPEN,Hanover Quay East,53.3437,-6.23175

Handling missing data.

In [11]:
df_dublin.isnull().sum()

STATION ID               0
TIME                     0
LAST UPDATED             0
NAME                     0
BIKE_STANDS              0
AVAILABLE_BIKE_STANDS    0
AVAILABLE_BIKES          0
STATUS                   0
ADDRESS                  0
LATITUDE                 0
LONGITUDE                0
dtype: int64

Filtering the dataset by status.

In [13]:
# Checking unique statuses in 'STATUS' since we are only using stations that are open.

statuses_status = df_dublin['STATUS'].unique()
status_numbers = df_dublin['STATUS'].value_counts()

statuses_status, status_numbers

(array(['OPEN', 'CLOSED'], dtype=object),
 STATUS
 OPEN      1948271
 CLOSED       2018
 Name: count, dtype: int64)

In [14]:
# Filtering the dataset to only 'OPEN' statuses.

df_dublin = df_dublin[df_dublin['STATUS'] == 'OPEN']

Dropping, renaming and detecting duplicates.

In [16]:
# Dropping redundant / unecessary columns.

drop_column = ['LAST UPDATED','ADDRESS']
df_dublin = df_dublin.drop(columns = drop_column)

In [17]:
# Renaming columns for better vizualisation.

df_dublin.rename(columns={'STATION ID': 'station_id','TIME': 'time', 'NAME': 'station', 'BIKE_STANDS': 'n_stands',
                            'AVAILABLE_BIKE_STANDS': 'available_stands','AVAILABLE_BIKES': 'available_bikes', 'STATUS': 'status',
                            'LATITUDE': 'lat', 'LONGITUDE': 'long' }, inplace=True)

In [18]:
df_dublin.head(5)

,station_id,time,station,n_stands,available_stands,available_bikes,status,lat,long
0,2,2022-01-01 00:00:04,BLESSINGTON STREET,20,10,10,OPEN,53.3568,-6.26814
1,3,2022-01-01 00:00:04,BOLTON STREET,20,19,1,OPEN,53.3512,-6.26986
2,4,2022-01-01 00:00:04,GREEK STREET,20,9,11,OPEN,53.3469,-6.27298
3,5,2022-01-01 00:00:04,CHARLEMONT PLACE,40,17,23,OPEN,53.3307,-6.26018
4,6,2022-01-01 00:00:04,CHRISTCHURCH PLACE,20,13,7,OPEN,53.3434,-6.27012

In [19]:
# Detecting duplicates (It is very unlikely there are duplicates due to the origin of the data, but it will be performed just in case).
# If it is 'False', there are no duplicated rows in the dataset.

dupli = df_dublin.duplicated().any()

print(f'Are there any duplicated rows in the whole dataset? {dupli}')

Are there any duplicated rows in the whole dataset? False

Trasforming Dtypes.

In [21]:
# Tranforming the column 'TIME' to datetime format.

df_dublin['time']= pd.to_datetime(df_dublin['time'])

In [22]:
df_dublin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1948271 entries, 0 to 1950288
Data columns (total 9 columns):
 #   Column            Dtype
---  ------            -----
 0   station_id        int64
 1   time              datetime64[ns]
 2   station           object
 3   n_stands          int64
 4   available_stands  int64
 5   available_bikes   int64
 6   status            object
 7   lat               float64
 8   long              float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 148.6+ MB

Adtional cleaning.

In [24]:
# Recleaning dataset.

drop_column2 = ['status']
df_dublin = df_dublin.drop(columns = drop_column2)

In [25]:
df_dublin.head(5)

,station_id,time,station,n_stands,available_stands,available_bikes,lat,long
0,2,2022-01-01 00:00:04,BLESSINGTON STREET,20,10,10,53.3568,-6.26814
1,3,2022-01-01 00:00:04,BOLTON STREET,20,19,1,53.3512,-6.26986
2,4,2022-01-01 00:00:04,GREEK STREET,20,9,11,53.3469,-6.27298
3,5,2022-01-01 00:00:04,CHARLEMONT PLACE,40,17,23,53.3307,-6.26018
4,6,2022-01-01 00:00:04,CHRISTCHURCH PLACE,20,13,7,53.3434,-6.27012

Data engineering for number of trips per station.

In [27]:
# Sorting rows by station_id and time.

dublin_total_trips = df_dublin.sort_values(by=['station_id', 'time'])

In [28]:
# Calculating number of trips per row (ended and started).
# Obs: There is a slight modifycation in the lambda function since 'ended' and 'started'(lambda x: -x in
# comparison to lambda x: x) as the number of the current available bikes / available stands subtracted from the previous number will 
# dictate if it is a starting or ending trip. (AS + / AB - = Trips started; AS - / AB + = Trips ended)

dublin_total_trips['trips_started'] = dublin_total_trips.groupby('station_id')['available_bikes'].diff().fillna(0)
dublin_total_trips['trips_started'] = dublin_total_trips['trips_started'].apply(lambda x: -x if x < 0 else 0)

dublin_total_trips['trips_ended'] = dublin_total_trips.groupby('station_id')['available_bikes'].diff().fillna(0)
dublin_total_trips['trips_ended'] = dublin_total_trips['trips_ended'].apply(lambda x: x if x > 0 else 0)

dublin_total_trips['total_trips_per_station'] = dublin_total_trips['trips_started']+dublin_total_trips['trips_ended']

In [29]:
dublin_total_trips.head()

,station_id,time,station,n_stands,available_stands,available_bikes,lat,long,trips_started,trips_ended,total_trips_per_station
614868,1,2022-04-27 13:00:02,CLARENDON ROW,31,27,0,53.3409,-6.2625,0.0,0.0,0.0
614980,1,2022-04-27 13:30:02,CLARENDON ROW,31,27,0,53.3409,-6.2625,0.0,0.0,0.0
615092,1,2022-04-27 14:00:02,CLARENDON ROW,31,27,0,53.3409,-6.2625,0.0,0.0,0.0
615204,1,2022-04-27 14:30:02,CLARENDON ROW,31,0,0,53.3409,-6.2625,0.0,0.0,0.0
615316,1,2022-04-27 15:00:02,CLARENDON ROW,31,0,0,53.3409,-6.2625,0.0,0.0,0.0

In [30]:
# Calculating totals

dublin_total_trips = dublin_total_trips.groupby(['station_id', 'station'])[['trips_started', 'trips_ended', 'total_trips_per_station']].sum().reset_index()

In [31]:
dublin_total_trips['trips_started'] = dublin_total_trips['trips_started'].astype(int)
dublin_total_trips['trips_ended'] = dublin_total_trips['trips_ended'].astype(int)
dublin_total_trips['total_trips_per_station'] = dublin_total_trips['total_trips_per_station'].astype(int)

In [32]:
dublin_total_trips.tail()

,station_id,station,trips_started,trips_ended,total_trips_per_station
110,114,WILTON TERRACE (PARK),13717,13711,27428
111,115,KILLARNEY STREET,10800,10780,21580
112,116,BROADSTONE,5015,5008,10023
113,117,HANOVER QUAY EAST,4691,4689,9380
114,507,ORIEL STREET TEST TERMINAL,0,0,0

# 1.2. Boston Blue Bikes

The same process for concatenating files will be used for the following Boston Bikes datasets.

Font: https://medium.com/@nawazmohtashim/method-to-merge-csv-files-in-python-8b0f16550e0b

In [35]:
# Listing the files and sorting them by name in the boston_data folder so they do not have to be typed one by one. Adapted from: https://stevenhough.medium.com/how-to-easily-list-all-files-in-a-folder-using-python-3-ee06004c6316

folder_path = '/home/user/Documents/GitHub/boston_data'

file_list = sorted([f for f in os.listdir(folder_path) if os.path.isfile(os.path.join(folder_path, f))])

print(file_list)

['.DS_Store', '._.DS_Store', '._202201-bluebikes-tripdata.csv', '._202202-bluebikes-tripdata.csv', '._202203-bluebikes-tripdata.csv', '._202204-bluebikes-tripdata.csv', '._202205-bluebikes-tripdata.csv', '._202206-bluebikes-tripdata.csv', '._202207-bluebikes-tripdata.csv', '._202208-bluebikes-tripdata.csv', '._202209-bluebikes-tripdata.csv', '._202210-bluebikes-tripdata.csv', '._202211-bluebikes-tripdata.csv', '._202212-bluebikes-tripdata.csv', '2022-bluebikes-tripdata.csv', '202201-bluebikes-tripdata.csv', '202202-bluebikes-tripdata.csv', '202203-bluebikes-tripdata.csv', '202204-bluebikes-tripdata.csv', '202205-bluebikes-tripdata.csv', '202206-bluebikes-tripdata.csv', '202207-bluebikes-tripdata.csv', '202208-bluebikes-tripdata.csv', '202209-bluebikes-tripdata.csv', '202210-bluebikes-tripdata.csv', '202211-bluebikes-tripdata.csv', '202212-bluebikes-tripdata.csv']

Creating a list with the files.

In [37]:
boston_months_dfs = ['/home/user/Documents/GitHub/boston_data/202201-bluebikes-tripdata.csv', '/home/user/Documents/GitHub/boston_data/202202-bluebikes-tripdata.csv', '/home/user/Documents/GitHub/boston_data/202203-bluebikes-tripdata.csv',
                     '/home/user/Documents/GitHub/boston_data/202204-bluebikes-tripdata.csv', '/home/user/Documents/GitHub/boston_data/202205-bluebikes-tripdata.csv', '/home/user/Documents/GitHub/boston_data/202206-bluebikes-tripdata.csv', 
                     '/home/user/Documents/GitHub/boston_data/202207-bluebikes-tripdata.csv', '/home/user/Documents/GitHub/boston_data/202208-bluebikes-tripdata.csv', '/home/user/Documents/GitHub/boston_data/202209-bluebikes-tripdata.csv', 
                     '/home/user/Documents/GitHub/boston_data/202210-bluebikes-tripdata.csv', '/home/user/Documents/GitHub/boston_data/202211-bluebikes-tripdata.csv', '/home/user/Documents/GitHub/boston_data/202212-bluebikes-tripdata.csv']

In [38]:
df_boston = pd.DataFrame()

# For loop for merging data

for boston_months_dfs in boston_months_dfs:
    df = pd.read_csv(boston_months_dfs)
    df_boston = pd.concat([df_boston, df], ignore_index=True)

# Saving a new .csv file with the merged data

df_boston.to_csv('/home/user/Documents/GitHub/boston_data/2022-bluebikes-tripdata.csv', index=False)

In [ ]:
df_boston = pd.read_csv('/home/user/Documents/GitHub/boston_data/2022-bluebikes-tripdata.csv')

In [ ]:
df_boston.head(5)

In [ ]:
df_boston.tail(5)

Handling missing data.

In [ ]:
# Since only postal code has null values and it is an irrelevant variable for the analysis, we will drop it later.

df_boston.isnull().sum()

Transforming Dtypes

In [ ]:
df_boston['starttime'] = pd.to_datetime(df_boston['starttime'])
df_boston['stoptime'] = pd.to_datetime(df_boston['stoptime'])

In [ ]:
df_boston.info()

Engineering data for number of trips.

In [ ]:
# Calculating the number of trips starting and ending at each station.

trips_started = df_boston.groupby(['start station id', 'start station name', 'starttime', 'start station latitude', 'start station longitude']).size().reset_index(name='trips_started')
trips_ended = df_boston.groupby(['end station id', 'end station name', 'stoptime','end station latitude', 'end station longitude'  ]).size().reset_index(name='trips_ended')

In [ ]:
trips_started.head(5)

In [ ]:
trips_ended.head(5)

In [ ]:
# Merging and getting the total ammount of trips per station.

boston_total_trips = pd.merge(trips_started, trips_ended, left_on = 'start station id', right_on = 'end station id')

In [ ]:
boston_total_trips.head()

In [ ]:
# Cleaning and renaming.

boston_total_trips.rename(columns={'start station id': 'station_id', 'start station name': 'station_name'}, inplace=True)
boston_total_trips = boston_total_trips.drop(columns = ['end station id', 'end station name'])

In [ ]:
# Adding total.

boston_total_trips['total_trips']= boston_total_trips['trips_started']+boston_total_trips['trips_ended']

In [ ]:
boston_total_trips.tail()

# 1.3. Data for sentiment analysis (Dublinbikes)

Installing requered dependencies and importing libraries.

In [ ]:
import praw
import json

# 2 - EDA (Exploratory Data Analysis)

# 2.1. General numbers

2.1.1 - Dublin - General numbers concerning the dataset.

In [ ]:
# Counting basic numbers.

unique_dublin_stations = df_dublin['station_id'].nunique()
n_bikes_pstation_dublin = df_dublin.groupby('station_id')['n_stands'].max()
total_bikes_dublin = n_bikes_pstation_dublin.sum()

print('Total number of stations: ', unique_dublin_stations)
print('Number of available bikes per station:\n ', n_bikes_pstation_dublin)

print('Total number of bikes available in Dublin: ', total_bikes_dublin)

2.1.2. Spacial Vizualisation

In [ ]:

#import plotly.express as px

#dublin_distribution = px.scatter_mapbox(df_dublin, lat='lat', lon='long', color_discrete_sequence=["green"], zoom=12, height=600)

#dublin_distribution.update_layout(mapbox_style="open-street-map")
#dublin_distribution.update_layout(margin={"r":0,"t":0,"l":0,"b":0})

#dublin_distribution.show()